main {
  display: flex;
  min-height: 88vh;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1,
h3 {
  margin: 0;
}

h1 {
  font-size: clamp(5.625em, 2vw, 12.5em);
}

h3 {
  font-size: (0.4em, 1vw, 3.125em);
  white-space: nowrap;
}
