.task {
  color: var(--theme-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  font-size: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.currently {
  color: initial;
}
