* {
  box-sizing: border-box;
  margin: 0;
}

*::selection {
  color: var(--theme-primary);
  background-color: rgba(var(--theme-primary-rgb), 0.1);
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  --red: #e9503c;
  --orange: #ff921b;
  --yellow: #ffc928;
  --green: #45d016;
  --blue: #4486ff;
  --purple: #ca44ff;
  --red-rgb: 233, 80, 60;
  --orange-rgb: 255, 146, 27;
  --yellow-rgb: 255, 201, 40;
  --green-rgb: 69, 208, 22;
  --blue-rgb: 68, 134, 255;
  --purple-rgb: 202, 68, 255;
}

body {
  padding: 4rem 2rem;
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
}

a {
  color: var(--theme-primary);
}

a:hover {
  background: rgba(var(--theme-primary-rgb), 0.1);
}
