* {
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease, color 1ms;
}

body {
  padding-right: 3em;
  padding-left: 3em;
}

*::selection {
  color: var(--theme-primary);
  background-color: rgba(var(--theme-primary-rgb), 0.1);
}

:root {
  font-family: "Poppins", sans-serif;
  --red: #e9503c;
  --orange: #ff921b;
  --yellow: #ffc928;
  --green: #45d016;
  --blue: #4486ff;
  --purple: #ca44ff;
  --red-rgb: 233, 80, 60;
  --orange-rgb: 255, 146, 27;
  --yellow-rgb: 255, 201, 40;
  --green-rgb: 69, 208, 22;
  --blue-rgb: 68, 134, 255;
  --purple-rgb: 202, 68, 255;
  --grey: rgba(0, 0, 0, 0.7);
  --buttonGrey: rgba(0, 0, 0, 0.5);
  --white: #fff;
}

a {
  color: var(--theme-primary);
  text-decoration: none;
}

a:hover {
  background: rgba(var(--theme-primary-rgb), 0.1);
}

header {
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  transition: unset;
}

header a:hover {
  background: inherit;
}

.mobile-header {
  display: none;
  transition: unset;
}

.headerLinks {
  display: flex;
  margin-left: auto;
  gap: clamp(0.3em, 2vw, 3em);
}

footer {
  font-size: clamp(0.4rem, 2vw, 1rem);
  color: var(--grey);
}

footer .container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer a {
  color: inherit;
}

footer svg {
  width: 1em;
  vertical-align: middle;
}

.links {
  display: none;
}

.link-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: clamp(0.3em, 2vw, 3em);
}

.heart {
  fill: var(--theme-primary);
  animation: heartbeat 3s ease-in-out infinite;
}

@keyframes heartbeat {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.125);
  }
  10% {
    transform: scale(1.05);
  }
  15% {
    transform: scale(1.25);
  }
}

@media screen and (max-width: 520px) {
  header {
    display: none;
  }

  .mobile-header {
    display: unset;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
  }

  .links {
    display: unset;
  }
}

/* @media screen and (max-height: 1500px) {
  footer {
    position: relative;
    bottom: unset;
    padding-bottom: unset;
  }

  .links {
    position: relative;
    bottom: unset;
    padding-bottom: unset;
  }
} */
