main {
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about {
  font-size: clamp(3em, 0.4626rem + 1.0309vw + var(--user-font-scale), 2rem);
  max-width: 20em;
}

main .container {
  display: flex;
}

.wave {
  display: inline-block;
  animation: waving 2s ease-in-out;
}

.such-as {
  color: var(--theme-primary);
  display: flex;
  text-decoration: none;
  width: fit-content;
}

.expand-more {
  animation: float 1.4s ease-in-out infinite;
}

.such-as:hover {
  background: inherit;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes float {
  50% {
    transform: translateY(0.2em);
  }
}
