header {
  height: 5em;
}

header a {
  display: flex;
  font-size: clamp(2rem, -0.4742rem + 6.1856vw, 2.75rem);
  text-decoration: none;
  color: initial;
  width: fit-content;
}

header .title {
  font-size: 3rem;
  padding-left: 1rem;
}

.logo {
  width: 3rem;
  height: 5rem;
}

main p {
  font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}

@media screen and (max-width: 960px) {
  main .container {
    flex-direction: column;
    width: 30rem;
  }
  main .task {
    margin-top: 2em;
  }
  footer {
    height: 9em;
  }
  footer .container {
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .logos {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

main .container {
  display: flex;
  max-width: 50rem;
  align-items: center;
}

main .about {
  margin-right: 1em;
}

main .task {
  color: var(--theme-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
}

footer {
  position: fixed;
  display: flex;
  left: 0em;
  bottom: 0em;
  font-size: 0.75em;
  width: 100%;
  color: var(--grey);
  background-color: rgba(var(--theme-primary-rgb), 0.1);
}

footer .container {
  display: flex;
  padding: 2em;
  width: 100%;
}

footer p {
  margin-top: auto;
  margin-bottom: auto;
}

footer a {
  color: inherit;
}

.logos {
  margin: auto;
}

.tool {
  margin-right: 0;
}

footer svg {
  width: 0.75em;
  height: 0.75em;
}

.logos svg {
  width: 2em;
  height: 2em;
}

.logos a {
  margin-left: 1em;
  background-color: inherit;
}

.tool svg {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.tool a {
  background-color: inherit;
}

.heart {
  fill: var(--theme-primary);
  animation: heartbeat 3s ease-in-out infinite;
}

@keyframes heartbeat {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.125);
  }
  10% {
    transform: scale(1.05);
  }
  15% {
    transform: scale(1.25);
  }
}
