html body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow: scroll;
}

main {
  padding: 2rem 5em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.about {
  font-size: 1.75em;
  max-width: 20em;
}

main .container {
  display: flex;
  margin-top: 2em;
}

.task {
  color: var(--theme-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  font-size: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.currently {
  color: initial;
}

.links {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-around;
}

@media screen and (min-width: 960px) {
  main {
    height: 100vh;
  }
}
