.project-main {
  min-height: 88vh;
}

.main {
  max-width: 70em;
  font-size: clamp(1.25rem, 2vw, 3rem);
  display: flex;
}

h1 {
  color: var(--theme-primary);
  font-size: clamp(2rem, 6vw, 1.75em);
}

h3 {
  color: var(--theme-primary);
  text-emphasis: none;
  font-weight: 500;
  text-decoration: underline;
  margin: 0;
  margin-top: 1em;
}

br {
  content: "";
  margin: clamp(1rem, 1vw, 1.75rem);
  display: block;
}

button {
  background: none;
  border: none;
  font-size: clamp(1em, 6vw, 1.2em);
  width: fit-content;
  white-space: nowrap;
}

button:hover {
  border-color: var(--theme-primary);
  color: var(--theme-primary);
  background-color: rgba(var(--theme-primary-rgb), 0.1);
  cursor: pointer;
}

.active {
  border-color: var(--theme-primary);
  color: var(--theme-primary);
  font-size: clamp(1.25em, 6vw, 1.6em);
}

.forward {
  transform: rotate(-90deg);
  vertical-align: middle;
}

.project-pane {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-pane {
  max-width: 30em;
  margin-left: 2em;
}

.p {
  display: none;
}

.p.show {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.small {
  font-size: clamp(1rem, 2vw, 1.3rem);
}

.visit {
  background-color: var(--theme-primary);
  border-radius: 1em;
  color: var(--white);
  width: 4em;
  border: unset;
}

.visitLink {
  text-decoration: underline;
}

.visitLink:hover {
  text-decoration: underline;
  background-color: rgba(var(--theme-primary-rgb), 0.1);
}

.backlinks {
  display: flex;
  flex-direction: column;
  gap: 1em;
  white-space: nowrap;
  margin-top: 1em;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.backlinks a {
  text-decoration: none;
}

.back {
  transform: rotate(90deg);
  vertical-align: middle;
  animation: floatBack 1.4s ease-in-out infinite;
}

.forward {
  transform: rotate(-90deg);
  vertical-align: middle;
  animation: floatForward 1.4s ease-in-out infinite;
}

@keyframes floatBack {
  50% {
    transform: rotate(90deg) translateY(0.2em);
  }
}

@keyframes floatForward {
  50% {
    transform: rotate(-90deg) translateY(0.2em);
  }
}

.backlinks {
  margin-top: 6em;
}

@media screen and (max-width: 820px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .content-pane {
    margin-left: unset;
  }

  .d {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  button {
    margin: 0;
    padding: 0;
  }
  button:hover {
    text-decoration: none;
    background-color: inherit;
  }
  .backlinks {
    text-align: center;
  }
}

@media screen and (min-width: 820px) {
  .m {
    display: none;
  }
}
