h1,
h2,
h3,
h4 {
  font-weight: inherit;
  line-height: 1.42;
}

h1 {
  font-size: 3.998rem;
  text-align: center;
}

h2 {
  font-size: 2.827rem;
}

h3 {
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414rem;
}

h5 {
  font-size: 1.121rem;
}

h6 {
  font-size: 0.88rem;
}

ol {
  padding: 0;
  list-style-position: inside;
}

.backlinks {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  white-space: nowrap;
  margin-top: 2em;
}

.back {
  transform: rotate(90deg);
  vertical-align: middle;
  animation: floatBack 1.4s ease-in-out infinite;
}

.forward {
  transform: rotate(-90deg);
  vertical-align: middle;
  animation: floatForward 1.4s ease-in-out infinite;
}

@keyframes floatBack {
  50% {
    transform: rotate(90deg) translateY(0.2em);
  }
}

@keyframes floatForward {
  50% {
    transform: rotate(-90deg) translateY(0.2em);
  }
}

@media screen and (max-width: 520px) {
  .backlinks {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  body {
    text-align: center;
  }
}
