---
import HeaderDesktop from '../components/HeaderDesktop.tsx';
import { HeaderMobile } from '../components/HeaderMobile.tsx'
import Footer from '../components/footer.astro';
import {Links} from '../components/Links.tsx'
import { getColor } from '../utils/primaryColorGenerator.ts'
import { Activity } from '../components/Activity.tsx'
import { ProfilePic } from '../components/ProfilePic.tsx'
import { SuperbText } from '../components/SuperbText.tsx'
const {styleString, favicon} = getColor()
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Daniel Susman" />
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="Daniel Susman">
    <meta name="theme-color" content="#1B99FF">
    <meta name="og:image" content="/img/BLACK.png" />
    <title>{"dansusman: /about"}</title>
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/about.css">
    <link id="dynamic-fav" rel="icon" href="/favicon/white.svg" />
    <link id="dynamic-apple-fav" rel="icon" href="/favicon/white.svg" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
    </style>
</head>
<HeaderDesktop client:media="(min-width: 960px)" />
<HeaderMobile className="mobile-header"/>
<body>
    <div class="main">
        <div>
            <h1>about me</h1>
            <p class="info">I’m a third year student at Northeastern University, studying Computer Science. Since the beginning of my journey in the tech industry, I have thought writing optimized, efficient, abstracted code with clear and concise documentation is <SuperbText client:only="react"/>
            <br/>
            In 2021, I spent eight months at <a class="cvrs" target="_blank" href="https://www.corindus.com/">Corindus Vascular Robotics, a Siemens Healthineers Company,</a> where I was a full-time software engineer. There, I focused on application development, DevOps, automation, and robotic systems design.
            <br/>
            My current focus is on full stack development with TypeScript, GraphQL, and React but I am actively exploring backend development as my interests in Golang, <a target="_blank" href="https://deno.land/">Deno,</a> SQL, and Rust spike. I am a self-declared <a href="">serial hobbyist<a/> and a big fan of Vim.
            <div class="tech">
            <a href="/uses">Here are some technologies I have been working with lately.</a>
                <!-- <ul>
                    <li>TypeScript</li>
                    <li>React</li>
                    <li>Node.js</li>
                    <li>Astro</li>
                    <li>Python</li>
                </ul>
                <ul>
                    <li>Qt</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>SQL</li>
                    <li>Docker</li>
                </ul> -->
            <div/>
        </div>
    </div>
    <div class="rightPane">
        <ProfilePic client:only="react" />
        <span class="task">
            <p class="currently">Dan is currently...</p>
            <Activity client:only="react" />
        </span>
    </div>
    <script src="/script.js"></script>
    <script src="/start.js"></script>
</body>
<Footer/>
<Links className="links" size="1.25em" smallerSize="1.1em"/>
</html>