---
import HeaderDesktop from '../components/HeaderDesktop.tsx';
import { HeaderMobile } from '../components/HeaderMobile.tsx'
import Footer from '../components/footer.astro';
import { getAction } from '../utils/activityGenerator.ts'
import { getColor } from '../utils/primaryColorGenerator.ts'
import ExpandMoreIcon from '../components/icons/ExpandMoreIcon.tsx';
const {activityEmoji, activity} = getAction(new Date());
const {styleString, favicon} = getColor()

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{"Daniel Susman - Developer"}</title>
    <link rel="icon" type="image/svg+xml" href={favicon}>
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
    </style>
</head>
<body style={styleString}>
    <HeaderDesktop />
    <HeaderMobile />
    <main>
        <div class="container">
            <div class="about">
                <p>
                <span class="wave">👋</span>
                Hi!<br/> I'm Dan Susman, a software developer based in Boston, Massachusetts. I am passionate about creating impactful products that help shape the future of tech.</p>
                <a class="such-as" href="/projects">Like these<ExpandMoreIcon class="expand-more" width="1em" height="1em" alt=""/></a>
        </div>
    </main>
</body>
<Footer/>
</html>
