---
import HeaderDesktop from '../components/HeaderDesktop.tsx'
import { HeaderMobile } from '../components/HeaderMobile.tsx'
import Footer from '../components/footer.astro'
import {Links} from '../components/Links.tsx'
import ExpandMoreIcon from '../components/icons/ExpandMoreIcon.tsx'
import HoverText from '../components/HoverText.tsx'
import {DynamicFavicon} from '../components/DynamicFavicon.tsx'

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/start.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Daniel Susman" />
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="Daniel Susman">
    <meta name="theme-color" content="#1B99FF">
    <meta name="og:image" content="/img/BLACK.png" />
    <title>{"dansusman: developer"}</title>
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
    <link id="dynamic-fav" rel="icon" href="/favicon/white.svg" />
    <link id="dynamic-apple-fav" rel="icon" href="/favicon/white.svg" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
    </style>
</head>
<body>
    <HeaderDesktop />
    <HeaderMobile className="mobile-header"/>
    <main>
        <div class="about">
            <p class="intro">
            <span class="wave">👋</span>
            Hi!<br/> I'm <HoverText client:load href="/about" altText="more about me" originalText="Dan Susman,"/>a software developer based in <a target="_blank" href="https://www.khoury.northeastern.edu/">Boston, Massachusetts.</a> I am passionate about creating impactful products that help shape the future of tech.</p>
            <a class="such-as" href="/projects">Like these<ExpandMoreIcon class="forward" width="1em" height="1em" alt=""/></a>
        </div>
    </main>
    <script src="/start.js"></script>
</body>

<Footer/>
<Links className="links" size="1.25em" smallerSize="1.1em"/>
</html>

