---
import Heart from './icons/Heart.tsx';
import GitHub from './icons/GitHub.tsx';
import AstroLogo from './icons/AstroLogo.tsx';
import LinkedIn from './icons/LinkedIn.tsx'
import Twitter from './icons/Twitter.tsx'
---
<footer>
    <div class="container">
        <p class="credit">Made with <Heart /> by <a href="https://github.com/dansusman">Dan Susman</a></p>
    </div>
</footer>
