---
import Logo from './icons/Logo.tsx'
import GitHub from './icons/GitHub.tsx'
import LinkedIn from './icons/LinkedIn.tsx'
import Resume from './icons/Resume.tsx'
import Email from './icons/Email.tsx'
---
<header>
    <a href="/"><Logo width="3.75em" height="5em"/></a>
    <div class="links">
        <GitHub width="2.1875em" height="2.1875em" />
        <LinkedIn width="2.1875em" height="2.1875em" />
        <Resume width="2em" height="2em" />
        <Email width="2.1875em" height="2.1875em" />
    </div>
</header>