---

import HeaderDesktop from '../components/HeaderDesktop.tsx';
import { HeaderMobile } from '../components/HeaderMobile.tsx'
import Footer from '../components/footer.astro';
import {Links} from '../components/Links.tsx'
import { getColor } from '../utils/primaryColorGenerator.ts'
import ExpandMoreIcon from '../components/icons/ExpandMoreIcon.tsx';
const {styleString, favicon} = getColor()
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Daniel Susman" />
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="Daniel Susman">
    <meta name="theme-color" content="#1B99FF">
    <title>{"dansusman: tools and tech"}</title>
    <link rel="icon" type="image/svg+xml" href={favicon}>
    <link rel="apple-touch-icon" href="/img/BLACK.png">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/uses.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
    </style>
</head>
<body style={styleString}>
    <HeaderDesktop />
    <HeaderMobile className="mobile-header"/>
    <slot/>
    <div class="backlinks">
        <a href="/about"><ExpandMoreIcon class="back"/>Read more about me.</a>
        <a href="/projects">See some projects of mine.<ExpandMoreIcon class="forward"/></a>
    </div>
    <script src="/start.js"></script>
</body>
<Footer/>
<Links className="links" size="1.25em" smallerSize="1.1em"/>
</html>